@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply font-montserrat text-4xl font-bold;
}

@layer components {
    .go-back {
        @apply 
        duration-300
        bg-green-600 hover:bg-green-400
        text-gray-800
        font-semibold
        p-4
        rounded-md;
    }
}

.animate-floating {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spin 1s infinite linear;
}

.animate-one-rotation {
    animation: demi-spin 300ms ease-in-out;
}

@keyframes demi-spin {
    to {
        transform: rotate(180deg)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes wait {
    from {
        opacity: 25%;
    }
    to {
        opacity: 50%;
    }
}
